body {
    padding: 0;
    margin: 0;
    background-color: aqua;
}

div {
    background-color: brown;
    padding: 0;
    margin: 0;
    width: fit-content;
    height: 30vh;
}

img {
    background-color: cadetblue;
    padding: 0;
    margin: 0;
    height: inherit;
    width: 32vh;
}